@charset "UTF-8";

:root{
    --color-grey: #f7f7f7;
    --color-grey2:#616060;
    --color-white:#fff;
    --color-black-footer:#444;
    --color-black-header:#18183a;
    --color-green-bnt: #0aa74b;
    --color-green-bnt-whatsapp:#26d366;
    --color-blue:#2c78bc;
    --color-blackshadow:#c8c8cd;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif; 
    background-image: url(https://misael-mra.github.io/site-corretoraseguros/img/background.svg);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-size: 535px; 
    max-width: 1280px;
    min-width: 320px;
}

.logo-header{
    width: 100%;
    max-width: 220px;
}

.header{
    font-size: 16px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    font-weight: bold;
    color: var(--color-black-header);
}

/* MENU RESONSIVO */


/* MENU RESONSIVO */

.navigation a{
    text-decoration: none;
    margin-left: 20px;
    color: var(--color-black-header);
}

.btn-whatsapp-header{
    display: flex;
    align-items: center;
    background-color: var(--color-green-bnt-whatsapp);
    padding: 6px 32px 6px 30px;
    border-radius: 50px;
}

.btn-whatsapp-header:hover{
    background-color: var(--color-green-bnt);
    transition: 0.6s;
}

.icon-whatsapp{
    width: 30px;
    margin-right: 10px;
}

.btn-whatsapp{
    display: flex;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.section-home{
    display: flex;
    align-items: center;
    flex-flow: row;
    width: 100%;
    margin-top: 30px;
    color: #18183a;
    justify-content: center;
}

.img-home{
    width: 100%;
    max-width: 600px;
    vertical-align: middle;
}

.colun-home{
    width: 50%;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.name-pl{
   font-size: 25px;
}

a{
    text-decoration: none;
    color: var(--color-black-header);
}

.h2-seguros{
    display: block !important;
    text-align: center;
    font-size: 28px;
    padding: 80px;
    color: var(--color-black-header);
}

.section-seguros{
    background-color: var(--color-grey);
}

.grade-seguros{
    display: flex;
    align-items: center;
    width: 90%;
}

.a-seguros{
    width: 25%;
    background-color: var(--color-grey);
    padding: 1%;
    justify-content: center;
    box-shadow: 0 0 1em var(--color-blackshadow);
    margin-bottom: 100px;
}

#img-seguro-auto{
    width: 60%;
}

.icon-seguros{
    display: flex;
    align-items: center;
    background-color: #027302;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
}

.titulo-seguros{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 6%;
    color: var(--color-black-header);
}

.subtitulo-seguros{
    text-align: center;
    font-size: 14px;
    color: #99a1ba;
}
